.car-sale-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 55%;
    margin: 0 0.5vw 1vh 0;
}

.car-sale-history-container {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1vh 2vw;
    background-color: rgba(144, 144, 144, 0.1);
    border-radius: 10px; 
}

.car-add-sale-form-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 1vh 2vw;
    background-color: rgba(144, 144, 144, 0.1);
    border-radius: 10px;
}