body {
    font-family: 'Poppins', sans-serif;
}

.divide-line {
    border: none;
    border-top: 1px solid black;
    height: 1px;
    margin: 1vh 1vw 3vh;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1vh;
}

.navbar {
    background-color: #d5d5d5 !important;
}
.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}
.navbar-nav .nav-link {
    font-weight: 400;
}
.btn-outline-success {
    color: #1532CA;
    border-color: #1532CA;
}
.btn-outline-success:hover {
    background-color: #1532CA;
}
.btn-outline-success:disabled {
    background-color: #1532CA;
    color: white;
}

.btn-success {
    background-color: #1532CA;
}
.btn-success:hover {
    background-color: #1532CA;
}
.btn-success:disabled {
    background-color: #1532CA;
    color: white;
}


#navbar__search-form__search-input {
    border-width: 2px;
}

.header__go-back {
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.go-back-btn {
    height: 4vh;
    min-width: 5vw;
    padding: 0.1rem 0.05rem;
}

.car-image-file-uploader::file-selector-button {
    /* Hide the default button text */
    display: none;
}

.car-image-file-uploader::before {
    content: "Choose Car Image";
    display: inline-block;
    background-color: transparent;
    color: #1532CA;
    border: 1px solid #1532CA;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
    margin-bottom: 1vh;
    margin-right: 0.25vw;
    transition: all 0.3s ease;
}

.car-image-file-uploader:hover::before {
    background-color: #1532CA;
    color: white;
}

.submit-transaction-btn {
    width: 8vw;
}

.car-img {
    width: 100%;
}

.flash-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4.5vw 1vh 1vw;
}

.flash-close-btn {
    border-radius: 5px;
    background-color: rgba(144, 144, 144, 0.1);
}