.main-content {
    display: flex;
    justify-content: center;
}

.databases-container {
    margin-top: 1vh;
    width: 90%;
    background-color: rgba(144, 144, 144, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.databases-container__header {
    display: flex;
    justify-content: flex-start;
    margin: 2vh 1vw 0 1vw;
}

.databases-container__header__title {
    margin-bottom: 0;
}

.databases-btn {
    min-width: 10vw;
    max-width: 10vw;
}

.databases-container__database-block__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    margin-bottom: 1vh;
    padding: 0 1vw 1vh 1vw;
}

.databases-container__database-block__content__data {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.databases-container__database-block__content__log {
    width: 25vw;
}

.databases-container__database-block__content__log__header {
    background-color: rgba(144, 144, 144, 0.1);
}

.databases-container__database-block__content__log__text {
    min-height: 20vh;
    max-height: 20vh;
    overflow-y: auto;
    background-color: #d5d5d5;
}

.databases-container__database-block__content__olap-btns {
    width: 30%;
}

.databases-records-no__slider-container {
    margin-top: 1vh;
}

#records-no-slider {
    margin-top: 0.25vh;
    width: 80%;
}