.page-links {
    display: flex;
    justify-content: flex-start;
    margin: 25px 0px 25px 25%;
}

.link {
    text-decoration: underline;
    color: #333;
    padding: 5px 10px;
}

.link-active {
    color: blue;
    padding: 5px 10px;
}

.main-content {
    display: flex;
}

/* Filters */
.filters {
    width: 25%;
    margin-right: 20px;
}

.filter {
    margin: 0px 0px 3% 3%;
}

.filter label {
    display: block;
}

.filter__filter-input {
    width: 8vw;
}

/* Car Cards */
.car-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.car-card {
    display: flex;
    width: calc(75%);
    height: 40vh;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(144, 144, 144, 0.1);
}

.car-cards-pagination-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.car-card__left-side {
    width: 45%;
}

.car-card__left-side__car-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c4c4c4;
    margin: 2%;
    width: calc(90%);
    height: calc(75%);
}
.car-card__left-side__car-image img {
    width: 100%;
    height: auto;
}

.details-btn {
    margin: 0px 2%;
}

.car-card__right-side {
    width: 60%;
}

.car-card__right-side__car-details-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.car-card__right-side__car-details-body__item img {
    width: 20px; /* Adjust size as needed */
    height: auto;
    margin-right: 5px;
}

.car-card__right-side__car-details-header__model-trim {
    font-weight: 400;
    font-size: 24px;
    color: #1532CA;
}

.car-card__right-side__car-details-header__vin {
    font-weight: bold;
}

.car-card__right-side__car-details-header__price {
    font-weight: bold;
    color: #0FAD0C;
}

.car-card__hr {
    margin-top: 0px;
    margin-right: 1%;
}

.car-card__right-side__car-details-body {
    margin: 0px 5%;
}

.car-card__right-side__car-details-body__items {
    display: flex;
    flex-direction: row;
}

.car-card__right-side__car-details-body__items-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.car-card__right-side__car-details-body__item {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.no-cars-found-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(144, 144, 144, 0.1);
    width: calc(75%);
    height: 10vh;
    border-radius: 10px;
}

.no-cars-found-message p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}

.car-cards-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-bottom: 1vh;
}

.car-cards-pagination__item {
    margin-right: 2px;
}