.search-page-content {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 3vh 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(144, 144, 144, 0.1);
}

.search-container__header-container{
    display: flex;
    justify-content: flex-start;
    margin: 2vh 1vw 0 1vw;
}

.search-box {
    margin: 0 1vw;
}

.search-box form {
    display: flex;
}

.vin-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;
}

.vin-form-container__input-part {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.vin-form-container__input {
    width: 100%;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn-div {
    margin-top: 2vh;
}

.search-btn {
    width: 8vw;
    float: right;
}

.filter-form-container {
    margin: 2vh 1vw;
}

.filter-row {
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__filter-input {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 49%;
}