# Python bytecode
__pycache__/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter Lab files
.ipynb_checkpoints/
*.ipynb_checkpoints

# Files/directories added by me
db_config.py