{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/search.css">
<div class="search-page-content">
    <div class="search-container">
        <div class="search-container__header-container">
            <p class="search-form-title">Search Car</p>
        </div>
        <hr class="divide-line">
        <div class="search-box">
            <form method="POST">
                {{ car_vin_form.hidden_tag() }}
                {{ car_vin_form.identifier(hidden=True, value='car_vin_form') }}
                <div class="vin-form-container">
                    <div class="vin-form-container__input-part">
                        {{ car_vin_form.car_vin(class="vin-form-container__input", placeholder="Enter car vin") }}
                    </div>
                    <div class="vin-form-container__button-part">
                        {{ car_vin_form.submit(class="btn btn-outline-success search-btn") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="filter-form-container">
            <form method="POST" id="filter-form-container__filter-form">
                {{ car_filters_form.hidden_tag() }}
                {{ car_filters_form.identifier(hidden=True, value='car_filters_form') }}
                <!-- Filters Row 1 -->
                <div class="filter-row">
                    {{ car_filters_form.brand(class="filter__filter-input", id="car-filter-brand") }}
                    {{ car_filters_form.model(class="filter__filter-input", id="car-filter-model", disabled="true") }}
                </div>
                <!-- Filters Row 2 -->
                <div class="filter-row">
                    {{ car_filters_form.body_type(class="filter__filter-input", id="car-filter-body_type") }}
                    {{ car_filters_form.transmission(class="filter__filter-input", id="car-filter-transmission") }}
                </div>
                <!-- Filters Row 3 -->
                <div class="filter-row">
                    {{ car_filters_form.seller_name(class="filter__filter-input", id="car-filter-seller-name")}} 
                    {{ car_filters_form.city(class="filter__filter-input", id="car-filter-city")}}
                </div>
                <!-- Filters Row 4 -->
                <div class="filter-row">
                    {{ car_filters_form.manufacture_year(class="filter__filter-input", id="car-filter-manufacture-year")}}
                    {{ car_filters_form.condition(class="filter__filter-input", id="car-filter-condition")}}
                </div>
                <!-- Filters Row 5 -->
                <div class="filter-row">
                    {{ car_filters_form.odometer(class="filter__filter-input", id="car-filter-odometer") }}
                    {{ car_filters_form.car_search_choice(class="filter__filter-input", id="car-filter-choice") }} 
                </div>
                <div class="search-btn-div">
                    {{ car_filters_form.submit(class="btn btn-outline-success search-btn") }}
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/search_car.js"></script>
{% endblock %}