{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/search.css">
<div class="search-page-content">
    <div class="search-container">
        <div class="search-container__header-container">
            <p class="search-form-title">Search Car</p>
        </div>
        <hr class="divide-line">
        <div class="search-box">
            <form method="POST">
                {{ car_vin_form.hidden_tag() }}
                {{ car_vin_form.identifier(hidden=True, value='car_vin_form') }}
                <div class="vin-form-container">
                    <div class="vin-form-container__input-part">
                        {{ car_vin_form.car_vin(class="vin-form-container__input", placeholder="Enter car vin") }}
                    </div>
                    <div class="vin-form-container__button-part">
                        {{ car_vin_form.submit(class="btn btn-outline-success search-btn") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="filter-form-container">
            <form method="POST" id="filter-form-container__filter-form">
                {{ car_filters_form.hidden_tag() }}
                {{ car_filters_form.identifier(hidden=True, value='car_filters_form') }}
                <!-- Filters Row 1 -->
                <div class="filter-row">
                    {{ car_filters_form.brand(class="filter__filter-input", id="car-filter-brand") }}
                    {{ car_filters_form.model(class="filter__filter-input", id="car-filter-model", disabled="true") }}
                </div>
                <!-- Filters Row 2 -->
                <div class="filter-row">
                    {{ car_filters_form.body_type(class="filter__filter-input", id="car-filter-body_type") }}
                    <select class="filter__filter-input" id="car-filter-transmission" name="transmission">
                        <option value="__None" hidden>Trasmission</option>
                        {% for transmission in car_filters['car_transmissions'] %}
                            <option value="{{ transmission }}">{{ transmission }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Filters Row 3 -->
                <div class="filter-row">
                    <select class="filter__filter-input" id="car-filter-seller-name" name="seller_name">
                        <option value="__None" hidden>Seller</option>
                        {% for seller_name in car_filters['seller_name'] %}
                            <option value="{{ seller_name }}">{{ seller_name }}</option>
                        {% endfor %}
                    </select>
                    {{ car_filters_form.city(class="filter__filter-input", id="car-filter-city")}}
                </div>
                <!-- Filters Row 4 -->
                <div class="filter-row">
                    <select class="filter__filter-input" id="car-filter-manufacture_year" name="manufacture_year">
                        <option value="__None" hidden>Manufacture Year</option>
                        {% for manufacture_year in car_filters['car_manufacture_years'] %}
                            <option value="{{ manufacture_year }}">{{ manufacture_year }}</option>
                        {% endfor %}
                    </select>
                    {{ car_filters_form.condition(class="filter__filter-input", id="car-filter-condition")}}
                </div>
                <!-- Filters Row 5 -->
                <div class="filter-row">
                    {{ car_filters_form.odometer(class="filter__filter-input", id="car-filter-odometer") }}
                    {{ car_filters_form.car_search_choice(class="filter__filter-input", id="car-filter-choice") }} 
                </div>
                <div class="search-btn-div">
                    {{ car_filters_form.submit(class="btn btn-outline-success search-btn") }}
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/search_car.js"></script>
{% endblock %}