{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/car_page.css">
<link rel="stylesheet" href="../static/css/add_sale.css">
<link rel="stylesheet" href="../static/css/add_transaction.css">
<div class="header__go-back">
    <button id="go-back-btn" class="btn btn-outline-success go-back-btn">&lt; Back</button>
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-dismissible fade show flash-container alert-success" role="alert">
            {{ message }}
            <button type="button" class="close flash-close-btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-dismissible fade show flash-container alert-danger" role="alert">
            {{ message }}
            <button type="button" class="close flash-close-btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}
<div class="main-content">
    {% if car %}
        <div class="car-details">
            <div class="car-preview">
                <div class="car-preview__car-image">
                    {% if car_image %}
                        <img src="data:{{ car_image['content_type'] }};base64,{{ car_image['image'] }}" alt="Car Image" class="car-img">
                    {% endif %}
                </div>
                <div class="car-preview__buttons">
                    <a href="{{ url_for('cars.car_page', vin=car.vin) }}" class="btn btn-outline-success details-btn">Car Page</a>
                </div>
            </div>
            <div class="car-chars">
                <span class="car-history__item__header">Car Characteristics</span>
                <hr class="car-history__item__header_divide-line">
                <div class="car-characteristics__item__data">
                    <div class="car-history__item__data__attributes-div">
                        <div class="car-history__item__data__attributes-div__column">
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">VIN:</span>
                                <span>{{ car.vin }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Model:</span>
                                <span>{{ car.model }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Body Type:</span>
                                <span>{{ car.body_type.name }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Manufacture Year:</span>
                                <span>{{ car.manufacture_year }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Current Condition:</span>
                                <span>{{ car_condition }} ({{ car_rel_condition }})</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Repairs Cost:</span>
                                <span>{{ repairs_cost }} $</span>
                            </div>
                        </div>
                        <div class="car-history__item__data__attributes-div__column">
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Brand:</span>
                                <span>{{ car.make.name }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Trim:</span>
                                <span>{{ car.trim }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Transmission:</span>
                                <span>{{ car.transmission }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Color:</span>
                                <span>{{ car.color.name }}</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Odometer:</span>
                                <span>{{ purchase.odometer }} mi</span>
                            </div>
                            <div class="car-history__item__data__attributes-div__column__item">
                                <span class="car-history__item__data__attributes-div__column__item__header">Car Expenses:</span>
                                <span>{{ purchase.price + repairs_cost }} $</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="car-sale-container">
            <div class="car-sale-history-container">
                <div id="item_1" class="car-history__item">
                    <span class="car-history__item__header" onclick="expandData(1)">Car Purchase</span>
                    <hr class="car-history__item__header_divide-line">
                    <div class="car-history__item__data">
                        <div class="car-history__item__data__attributes-div">
                            <div class="car-history__item__data__attributes-div__column">
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Seller:</span>
                                    <span>{{ purchase.seller.name }}</span>
                                </div>
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Condition:</span>
                                    <span>{{ purchase.condition }} ({{relative_conditions_list[0]}})</span>
                                </div>
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Purchase City:</span>
                                    <span>{{ purchase.seller.address.city.name }}</span>
                                </div>
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Purchase Price:</span>
                                    <span>{{ purchase.price }} $</span>
                                </div>
                            </div>
                            <div class="car-history__item__data__attributes-div__column">
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Employee:</span>
                                    <span>{{ purchase.employee.first_name + ' ' + purchase.employee.last_name }}</span>
                                </div>
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Odometer:</span>
                                    <span>{{ purchase.odometer }} mi</span>
                                </div>
                                <div class="car-history__item__data__attributes-div__column__item">
                                    <span class="car-history__item__data__attributes-div__column__item__header">Purchase Date:</span>
                                    <span>{{ purchase.purchase_date }}</span>
                                </div>
                            </div>
                        </div>
                        
                            <div class="car-history__item__data__description-div">
                                <span class="car-history__item__data__attributes-div__column__item__header">Purchase Description: </span>
                                <div class="car-history__item__data__description-div__text">
                                    {% if purchase.description %}
                                        {{ purchase.description }}
                                    {% else %}
                                        No description.
                                    {% endif %}
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div id="item_2" class="car-history__item">
                    <span class="car-history__item__header" onclick="expandRepairData(2)">Car Repairs</span>
                    <hr class="car-history__item__header_divide-line">
                       <div class="car-history__repairs">
                        {%if repairs %}
                            {% for repair in repairs %}
                                <div id="repair_{{loop.index}}" class="car-history__item__repair" onclick="expandChild({{loop.index}})">
                                    <span class="car-history__item__repair__header">Repair {{ loop.index }}</span>
                                    <hr class="car-history__item__header_divide-line">
                                    <div class="car-history__item__data">
                                        <div class="car-history__item__data__attributes-div">
                                            <div class="car-history__item__data__attributes-div__column">
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Employee-Manager:</span>
                                                    <span>{{ repair.employee.first_name + ' ' + repair.employee.last_name }}</span>
                                                </div>
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Repair Cost:</span>
                                                    <span>{{ repair.cost }}</span>
                                                </div>
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Condition:</span>
                                                    <span>{{ repair.condition }} ({{relative_conditions_list[loop.index]}})</span>
                                                </div>
                                            </div>
                                            <div class="car-history__item__data__attributes-div__column">
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Repair City:</span>
                                                    <span>{{ repair.address.city.name }}</span>
                                                </div>
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Repair Date:</span>
                                                    <span>{{ repair.repair_date }}</span>
                                                </div>
                                                <div class="car-history__item__data__attributes-div__column__item">
                                                    <span class="car-history__item__data__attributes-div__column__item__header">Condition Delta:</span>
                                                    <span>{{ repairs_condition_delta_list[loop.index - 1] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="car-history__item__data__description-div">
                                            <span class="car-history__item__data__attributes-div__column__item__header">Repair Description: </span>
                                            <div class="car-history__item__data__description-div__text">
                                                {% if repair.description %}
                                                    {{ repair.description }}
                                                {% else %}
                                                    No description.
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="car-history__repairs-no-repairs">No repairs were carried out on the car.</p>
                            <button class="btn btn-outline-success car-history__repairs-no-repairs__repair-btn">Repair</button>
                        {% endif %}
                        </div>
                </div>
            </div>
            <div class="car-add-sale-form-container">
                <form method="POST" id="add_sale_form" enctype="multipart/form-data">
                    {{ add_sale_form.hidden_tag() }}
                    {{ add_sale_form.identifier(hidden=True, value='add_sale_form') }}
                    <div class="add-transaction-container__header-container">
                        <p class="form-title">Sale Car Registration</p>
                    </div>
                    <hr class="divide-line add-transaction-from-divide-line">
                    <div class="add-repair-container__form-container__entity-container">
                        <div class="add-transaction-container__form-container__entity-container__title">
                            Employee
                        </div>
                        <div class="add-transaction-container__form-container__entity-container__inputs">
                            {{ add_sale_form.employee_name(class="add-transaction-input-row", id="car-employee-seller")}}
                        </div>
                        <hr class="add-transaction-container__form-container__entity-container__divide-line">
                    </div>
                    <div class="add-repair-container__form-container__entity-container">
                        <div class="add-transaction-container__form-container__entity-container__title">
                            Buyer
                        </div>
                        <div class="add-purchase-container__form-container__entity-container__inputs">
                            {{ add_sale_form.buyer_first_name(class="add-transaction-input", id="buyer-first-name")}}
                            {{ add_sale_form.buyer_last_name(class="add-transaction-input", id="buyer-last-name")}}
                        </div>
                        <div class="add-purchase-container__form-container__entity-container__inputs">
                            {{ add_sale_form.buyer_middle_name(class="add-transaction-input", id="buyer-middle-name")}}
                            {{ add_sale_form.buyer_birth_date(class="add-transaction-input", id="buyer-birth-date", title="Buyer's Birth Date")}}
                        </div>
                        <div class="add-purchase-container__form-container__entity-container__inputs">
                            {{ add_sale_form.buyer_sex(class="add-transaction-input", id="buyer-sex")}}
                            {{ add_sale_form.buyer_email(class="add-transaction-input", id="buyer-email")}}
                        </div>
                        <div class="add-purchase-container__form-container__entity-container__inputs">
                            {{ add_sale_form.city(class="add-transaction-input", id="buyer-city")}}
                            {{ add_sale_form.street(class="add-transaction-input", id="buyer-street")}}
                        </div>
                        <hr class="add-transaction-container__form-container__entity-container__divide-line">
                    </div>
                    <div class="add-repair-container__form-container__entity-container">
                        <div class="add-transaction-container__form-container__entity-container__title">
                            Sale Details
                        </div>
                        <div class="add-transaction-container__form-container__entity-container__inputs">
                            {{ add_sale_form.condition(class="add-transaction-input", id="sale-car-condition")}}
                            {{ add_sale_form.odometer(class="add-transaction-input", id="sale-car-odometer")}}
                        </div>
                        <div class="add-transaction-container__form-container__entity-container__inputs">
                            {{ add_sale_form.sale_date(class="add-transaction-input", id="sale-date", title="Sale Date")}}
                            {{ add_sale_form.sale_price(class="add-transaction-input", id="sale-price")}}
                        </div>
                        <div class="add-purchase-container__form-container__entity-container__inputs">
                            <input type="file" class="car-image-file-uploader" name="car-image">
                        </div>
                        <div class="add-transaction-container__form-container__entity-container__inputs">
                            {{ add_sale_form.description(class="add-transaction-input-row", id="sale-description")}}
                        </div>
                        <hr class="add-transaction-container__form-container__entity-container__divide-line">
                        <div class="add-transaction-container__form-container__entity-container__submit-btn-container">
                            {{ add_sale_form.submit(class="btn btn-outline-success submit-transaction-btn", id="add-sale-submit-btn") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
<script src="../static/js/car_page.js"></script>
{% endblock %}