{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/olap_cubes_export.css">
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-dismissible fade show flash-container-cube-export alert-success" role="alert">
            {{ message }}
            <button type="button" class="close flash-close-btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-dismissible fade show flash-container-cube-export alert-danger" role="alert">
            {{ message }}
            <button type="button" class="close flash-close-btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}
<div class="main-content">
    <form method="POST" action="{{url_for('olap_cubes_perform_export')}}" class="cubes-selection-container" id="cubes-export-form">
        <div class="cubes-selection-container__logical-block-container">
            <div class="cubes-selection-container__logical-block-container__title">
                Export Cubes Configuration
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs">
                <!-- First column: Select for OLAP cube -->
                <div class="col-md-3 mb-3">
                    <div id="export-cubes-cube-metric-container">
                        <div class="export-cubes-label-input-container">
                            <label class="export-cubes-input-label" for="file-name-input">OLAP Cube</label>
                            <select name="cube_name" class="export-cubes-input" id="olap-cube-select" required>
                                {% for fact_name in cube_names_dict.keys() %}
                                    <option value="{{ fact_name }}" {% if fact_name == 'fact_car_purchase' %} default {% endif %}>{{ cube_names_dict[fact_name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- Second column: Input for file name -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-input-container">
                        <label class="export-cubes-input-label" for="file-name-input">File Name</label>
                        <input name="export_file_name" type="text" class="export-cubes-input" id="file-name-input" placeholder="Enter file name" required>
                    </div>  
                </div>
                
                <!-- Third column: Select for file extension -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-input-container">
                        <label class="export-cubes-input-label" for="file-extension-select">File Extension</label>
                        <select name="export_file_extention" class="export-cubes-input" id="file-extension-select" required>
                            {% for file_extension in file_extensions %}
                                <option value="{{ file_extension }}">{{ file_extension }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                </div>
                
                <!-- Fourth column: Date filter -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-filter-container">
                        <div class="export-cubes-label-input-container__date-filter-container">
                            <label class="export-cubes-input-label" for="filter-date-from">Date From</label>
                            <input name="filter-date-from" type="date" class="export-cubes-filter" id="filter-date-from" placeholder="From" aria-label="From date">
                        </div>
                        <div class="export-cubes-label-input-container__date-filter-container">
                            <label class="export-cubes-input-label" for="filter-date-to">Date To</label>
                            <input name="filter-date-to" type="date" class="export-cubes-filter" id="filter-date-to" placeholder="To" aria-label="To date">
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="cubes-selection-container__logical-block-container" id="cube-metrics-container">
            <div class="cubes-selection-container__logical-block-container__title">
                Metrics
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs">

            </div>
        </div>
        <div class="cubes-selection-container__logical-block-container-dims-hiers">
            <div class="cubes-selection-container__logical-block-container__title">
                Dimensions and Hierarchies
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs__dims-hiers">
                
            </div>
            <div class="cubes-selection-container__submit-btn-container">
                <div class="cubes-selection-container__submit-tip-btn-container">
                    <div id="submit-tip" class="submit-tip hidden">Please select at least one metric and one dimension before exporting.</div>
                <button type="submit" class="btn btn-outline-success", id="submit-export-btn">Export</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    // Define a global variable to store olap_metadata
    var olapMetadata = {{ olap_metadata | tojson | safe }};
    let metricsColsNo = {{ metrics_cols_no |safe }};
    let bootstrapColsNo = {{ bootstrap_cols_no |safe }};
</script>
<script src="../static/js/olap_cubes_export.js"></script>
{% endblock %}