{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/olap_cubes_export.css">
<div class="main-content">
    <div class="cubes-selection-container">
        <div class="cubes-selection-container__logical-block-container">
            <div class="cubes-selection-container__logical-block-container__title">
                Export Cubes Configuration
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs">
                <!-- First column: Select for OLAP cube -->
                <div class="col-md-3 mb-3">
                    <div id="export-cubes-cube-metric-container">
                        <div class="export-cubes-label-input-container">
                            <label class="export-cubes-input-label" for="file-name-input">OLAP Cube</label>
                            <select class="export-cubes-input" id="olap-cube-select">
                                {% for fact_name in cube_names_dict.keys() %}
                                    <option value="{{ fact_name }}" {% if fact_name == 'fact_car_purchase' %} default {% endif %}>{{ cube_names_dict[fact_name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- Second column: Input for file name -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-input-container">
                        <label class="export-cubes-input-label" for="file-name-input">File Name</label>
                        <input type="text" class="export-cubes-input" id="file-name-input" placeholder="Enter file name">
                    </div>  
                </div>
                
                <!-- Third column: Select for file extension -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-input-container">
                        <label class="export-cubes-input-label" for="file-extension-select">File Extension</label>
                        <select class="export-cubes-input" id="file-extension-select">
                            {% for file_extension in file_extensions %}
                                <option value="{{ file_extension }}">{{ file_extension }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                </div>
                
                <!-- Fourth column: Date filter -->
                <div class="col-md-3 mb-3">
                    <div class="export-cubes-label-filter-container">
                        <div class="export-cubes-label-input-container__date-filter-container">
                            <label class="export-cubes-input-label" for="filter-date-from">Date From</label>
                            <input type="date" class="export-cubes-filter" id="filter-date-from" placeholder="From" aria-label="From date">
                        </div>
                        <div class="export-cubes-label-input-container__date-filter-container">
                            <label class="export-cubes-input-label" for="filter-date-to">Date To</label>
                            <input type="date" class="export-cubes-filter" id="filter-date-to" placeholder="To" aria-label="To date">
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="cubes-selection-container__logical-block-container" id="cube-metrics-container">
            <div class="cubes-selection-container__logical-block-container__title">
                Metrics
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs">

            </div>
        </div>
        <div class="cubes-selection-container__logical-block-container-dims-hiers">
            <div class="cubes-selection-container__logical-block-container__title">
                Dimensions and Hierarchies
            </div>
            <hr class="cubes-selection-container__logical-block-container__divide-line">
            <div class="cubes-selection-container__logical-block-container__inputs__dims-hiers">
                
            </div>
            <div class="cubes-selection-container__submit-btn-container">
                <button class="btn btn-outline-success", id="submit-export-btn">Export</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Define a global variable to store olap_metadata
    var olapMetadata = {{ olap_metadata | tojson | safe }};
    let metricsColsNo = {{ metrics_cols_no |safe }};
    let bootstrapColsNo = {{ bootstrap_cols_no |safe }};
</script>
<script src="../static/js/olap_cubes_export.js"></script>
{% endblock %}