{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/last_purchased.css">
<div class="page-links">
    {% if main_page == True %}
        <a href="{{ url_for('cars.last_purchased') }}" class="link-active">Last Purchased Cars</a>
        <a href="{{ url_for('cars.last_sold') }}" class="link">Last Sold Cars</a>
    {% else %}
        <a href="{{ url_for('cars.search_results', search_place_choice='cars_in_storage') }}" class="link-active">Cars in Storage</a>
        <a href="{{ url_for('cars.search_results', search_place_choice='cars_sold') }}" class="link">Sold Cars</a>
    {% endif %}
    <a href="{{ url_for('cars.search') }}" class="link">Find Car</a>
</div>
<hr class="divide-line">
<div class="main-content">
    <div class="filters">
        <div class="filter">
            <label class="filter__filter-input_label" for="purchase-date-from">Purchase Date:</label>
            <input class="filter__filter-input" type="date" id="purchase-date-from" name="purchase-date-from" placeholder="From"> <!-- From Date -->
            <input class="filter__filter-input" type="date" id="purchase-date-to" name="purchase-date-to" placeholder="To"> <!-- To Date -->
        </div>
        <div class="filter">
            <label class="filter__filter-input_label" for="manufacture-year">Manufacture Year:</label>
            <select class="filter__filter-input" id="manufacture-year" name="manufacture-year">
                <option value="" hidden>Year</option>
                <option value="All">All</option>
                {% for manufacture_year in filter_values_dict['car_manufacture_years'] %}
                    <option value="{{ manufacture_year }}">{{ manufacture_year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter">
            <label class="filter__filter-input_label" for="location-city">Location:</label>
            <select class="filter__filter-input" id="location-city" name="location-city">
                <option value="" hidden>City</option>
                <option value="All">All</option>
                {% for city in filter_values_dict['cities'] %}
                    <option value="{{ city.name }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="car-cards">
        {% if purchased_cars|length == 0 %}
            <h3>No vehicle was found for the specified parameters</h3>
        {% else %}
            {% for purchase in purchased_cars %}
                <div class="car-card">
                    <div class="car-card__left-side">
                        <div class="car-card__left-side__car-image">
                            <img>
                        </div>
                        <button class="btn btn-outline-success details-btn">Details</button>
                    </div>
                    <div class="car-card__right-side">
                        <div class="car-card__right-side__car-details-header">
                            <h3 class="car-card__right-side__car-details-header__model-trim">{{ purchase.car.make.name }} {{ purchase.car.model }} {{ purchase.car.trim }}</h3>
                            <p class="car-card__right-side__car-details-header__vin">vin: {{ purchase.car.vin }}</p>
                            <h3 class="car-card__right-side__car-details-header__price">{{ purchase.price }} $</h3>
                        </div>
                        <hr class="car-card__hr">
                        <div class="car-card__right-side__car-details-body">
                            <div class="car-card__right-side__car-details-body__items">
                                <div class="car-card__right-side__car-details-body__items-col">
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/calendar-icon.png" alt="manufacture-year-icon" width="20px" title="Car Manufacture Year">
                                        <span>{{ purchase.car.manufacture_year }}</span>
                                    </div>
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/car-mileage-icon.png" alt="mileage-icon" width="20px" title="Car Mileage">
                                        <span>{{ purchase.odometer }} mi</span>
                                    </div>
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/transaction-date-icon.png" alt="date-icon" width="20px" title="Purchase Date">
                                        <span>{{ purchase.purchase_date }}</span>
                                    </div>
                                </div>
                                <div class="car-card__right-side__car-details-body__items-col">
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/transmission-icon.png" alt="transmission-icon" width="20px" title="Car Transmission">
                                        <span>{{ purchase.car.transmission }}</span>
                                    </div>
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/color-icon.png" alt="color-icon" width="20px" title="Car Color">
                                        <span>{{ purchase.car.color.name }}</span>
                                    </div>
                                    <div class="car-card__right-side__car-details-body__item">
                                        <img src="../static/images/icons/location-icon.png" alt="location-icon" width="20px" title="Car Location">
                                        <span>{{ purchase.seller.address.city.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<script src="../static/js/filters.js"></script>
{% endblock %}