{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/last_purchased.css">
<div class="page-links">
    <a href="#" class="link-active">Last Purchased Cars</a>
    <a href="#" class="link">Last Sold Cars</a>
    <a href="#" class="link">Find Car</a>
</div>
<hr class="divide-line">
<div class="main-content">
    <div class="filters">
        <div class="filter">
            <label class="filter__filter-input_label" for="purchase-date">Purchase Date:</label>
            <input class="filter__filter-input" type="date" id="purchase-date-from" name="purchase-date-from" placeholder="From"> <!-- From Date -->
            <input class="filter__filter-input" type="date" id="purchase-date-to" name="purchase-date-to" placeholder="To"> <!-- To Date -->
        </div>
        <div class="filter">
            <label class="filter__filter-input_label" for="manufacture-year">Manufacture Year:</label>
            <select class="filter__filter-input" id="manufacture-year" name="manufacture-year">
                <option value="" hidden>Year</option>
                {% for manufacture_year in car_manufacture_years %}
                    <option value="{{ manufacture_year }}">{{ manufacture_year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter">
            <label class="filter__filter-input_label" for="location-city">Location:</label>
            <select class="filter__filter-input" id="location-city" name="location-city">
                <option value="" hidden>City</option>
                {% for city in cities %}
                <option value="{{ city.name }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="car-cards">
        {% for purchase in last_purchases %}
            <div class="car-card">
                <div class="car-card__left-side">
                    <div class="car-card__left-side__car-image">
                        <img>
                    </div>
                    <button class="btn btn-outline-success details-btn">Details</button>
                </div>
                <div class="car-card__right-side">
                    <div class="car-card__right-side__car-details-header">
                        <h3 class="car-card__right-side__car-details-header__model-trim">{{ purchase.car.make.name }} {{ purchase.car.model }} {{ purchase.car.trim }}</h3>
                        <p class="car-card__right-side__car-details-header__vin">vin: {{ purchase.car.vin }}</p>
                        <h3 class="car-card__right-side__car-details-header__price">{{ purchase.price }} $</h3>
                    </div>
                    <hr class="car-card__hr">
                    <div class="car-card__right-side__car-details-body">
                        <div class="car-card__right-side__car-details-body__items">
                            <div class="car-card__right-side__car-details-body__items-col">
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/calendar-icon.png" alt="manufacture-year-icon" width="20px" title="Car Manufacture Year">
                                    <span>{{ purchase.car.manufacture_year }}</span>
                                </div>
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/car-mileage-icon.png" alt="mileage-icon" width="20px" title="Car Mileage">
                                    <span>{{ purchase.odometer }} mi</span>
                                </div>
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/transaction-date-icon.png" alt="date-icon" width="20px" title="Purchase Date">
                                    <span>{{ purchase.purchase_date }}</span>
                                </div>
                            </div>
                            <div class="car-card__right-side__car-details-body__items-col">
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/transmission-icon.png" alt="transmission-icon" width="20px" title="Car Transmission">
                                    <span>{{ purchase.car.transmission }}</span>
                                </div>
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/color-icon.png" alt="color-icon" width="20px" title="Car Color">
                                    <span>{{ purchase.car.color.name }}</span>
                                </div>
                                <div class="car-card__right-side__car-details-body__item">
                                    <img src="../static/images/icons/location-icon.png" alt="location-icon" width="20px" title="Car Location">
                                    <span>{{ purchase.seller.address.city.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        {% endfor %}
    </div>
</div>
<script src="../static/js/filters.js"></script>
{% endblock %}